#include "../resource.h"
#include <windows.h>
#include <commctrl.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"
IDI_APP_ICON ICON "usbimager.ico"
IDI_WRITE    ICON "write.ico"
IDI_READ     ICON "read.ico"

VS_VERSION_INFO    VERSIONINFO
FILEVERSION        1,0,5,0
PRODUCTVERSION     1,0,5,0
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
FILEFLAGS          0
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "bzt@gitlab"
      VALUE "FileDescription", "USB image writer"
      VALUE "FileVersion", "0.0.1"
      VALUE "InternalName", "Win32App"
      VALUE "LegalCopyright", "©2020 bzt@gitlab"
      VALUE "OriginalFilename", "usbimager.exe"
      VALUE "ProductName", "USBImager by bzt"
      VALUE "ProductVersion", "1.0.5"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END

IDC_MAINDLG DIALOGEX 0, 0, 320, 100
STYLE DS_CENTER | DS_SHELLFONT | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "USBImager 1.0.5"
BEGIN
    EDITTEXT IDC_MAINDLG_SOURCE, 5, 5, 275, 12, ES_AUTOHSCROLL
    PUSHBUTTON "...", IDC_MAINDLG_SELECT, 285, 4, 30, 14
    PUSHBUTTON "&Write", IDC_MAINDLG_WRITE, 5, 20, 150, 16
    PUSHBUTTON "&Read", IDC_MAINDLG_READ, 165, 20, 150, 16
    COMBOBOX IDC_MAINDLG_TARGET_LIST, 5, 40, 310, 71, CBS_DROPDOWNLIST | WS_TABSTOP
    CHECKBOX "&Verify", IDC_MAINDLG_VERIFY, 10, 60, 125, 14
    CHECKBOX "&Compress", IDC_MAINDLG_COMPRESS, 145, 60, 125, 14
    COMBOBOX IDC_MAINDLG_BLKSIZE, 275, 60, 40, 71, CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL "", IDC_MAINDLG_PROGRESSBAR, "msctls_progress32", PBS_SMOOTH, 5, 80, 310, 4
    LTEXT "", IDC_MAINDLG_STATUS, 5, 86, 310, 14, WS_TABSTOP
END
