[Desktop Entry]
Version=1.0.4
Type=Application
Name=USBImager
Comment=Write image files to USB devices
Exec=usbimager
Icon=usbimager
Terminal=false
StartupNotify=false
Categories=Application;System;
